#contenedor{
 margin:0px;
 padding:0px;
 
}
#cabecera{
text-align:center;
margin:2em;
padding:1em;
background:url('red.png') repeat-x;
}
.centrado{
text-align:center;
}
#cuerpo{
 margin-left:2em;
 margin-right:2em;
 padding:1em;
 height:200px;
 background:url('beige.png') repeat-x;
}
a{color:#107fc9;color:#3f8fba;text-decoration:none}
a:hover{color:#3f8fba;text-decoration:underline}
body {font-size:100%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}



