@import "functions.less";
@import "menu_superior.less";
@color_naranja:#fe4a00;
h1, h2 {
font-family:"Cabin Sketch";

}
h1{
	font-size:5em;
}
p{
font-family:"Gloria Hallelujah";	
}
@import "resto.less";
