@import "functions.less";
/* @import "menu_superior.less"; */
@color_naranja: #fe4a00;
/* @override http://localhost:8888/style.css */

/* @override http://localhost:8888/style.css */

/* @override http://localhost:8888/style.css */

/* @override http://localhost:8888/style.css */

/* @group Blueprint */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.ie6 html, .ie7 html, .ie8 html {
    overflow: hidden;
}

body {
    font-size: 100%;
    color: #535353;
    background: #fff;
    font-family:  'Josefin Slab', "Helvetica Neue", Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#wallpaper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#content {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    text-align: center;
}

.notready #content {
    left: -999px;
    width: 0;
}

.ready #content {
    left: 0;
    width: 100%;
}

#copy {
    font-size: 12px;
    position: absolute;
    font-style: normal;
    width: 220px;
    text-align: left;
    color: #687176;

.rotate(270deg);



	left: -90px;
	bottom: 60%;
		a {
			color: inherit;
			text-decoration: underline;
		}
}



.ie #copy {
	left:  20px;
	bottom: 10px;
}
a {
	color: #c80019;
	text-decoration: none;
}


#nav {
	position: relative;
	display: inline-block;
	list-style: none;
	text-align: center;
	-webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 5px 20px rgba(0,0,0,0.5);
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
	z-index: 3;
	background: #CED2D6;
	background: rgba(222,227,231,0.37);
	
	li {
	display: inline-block;
	margin: 0;
	padding: 5px;
	& .current
		{
		background: rgba(255,255,255,0.5);
		}

	
}
 a {
	display: block;
	font-size: 20px;
	padding: 10px 20px;
& :hover {
	background: rgba(226,227,232,0.51);
}
}

}


.ltie8 #nav {
	display: inline;
}

.ltie8 #nav li {
	display: inline;
}

.ltie9 #nav {
	border: solid 1px #A8B1B8;
	border-top: none;
}

#introduction h1 {
	text-align: center;
	position: absolute;
	bottom: 20%;
	width: 100%;
	font-size: 20px;
	background: url(../slideshow_files/images/drop-shadow.png) no-repeat center 182px;
	 p {
	text-align: center;
	font-size: 30px;
	color: #979797;
	width: 100%;
}
}

.ltie9 #introduction h1 {
	background: none;
}
.page {
	text-align: left;
}

#intro-show {
	position: absolute;
	bottom: 25%;
	width: 100%;
}

#introduction p {
	text-align: center;
	font-size: 20px;
	color: #979797;
	width: 100%;
}

.normal {
color: #fe4801;
	background: #fff;
}

.current {
color: #fff;
	background: #fe4801;
}

#main-show {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	zoom: 1;
}

.page {
	width: 100%;
	height: 100%;
}
#introduction h1 {
	text-align: center;
	position: absolute;
	bottom: 20%;
	width: 100%;
	font-size: 170px;
	background: url(../slideshow_files/images/drop-shadow.png) no-repeat center 182px;
}

.ltie9 #introduction h1 {
	background: none;
}



#ultima_slogan {
	width: 100%;
	position: absolute;
	bottom: 4%;
	text-align: center;
}
#navigation-show {
	position: absolute;
	width: 100%;
	height: 120px;
	top: 13%;
	li {
	width: 100%;
	text-align: center;
	background: url(../slideshow_files/images/drop-shadow.png) no-repeat center 122px;

	font-size: 16px;
		& .limpia {
		font-size: 50px;
		}
		div.mapa {
		}
		div.info {
		position: absolute;
		top: 60%;
		font-size: 50px;
		width: 100%;
		background-color: rgba(122,122,122,0.37);
		}
		div.infodet {
		position: absolute;
		top: 30%;
		left:30%;
		width: 60%;
		text-align:left;
		background-color: rgba(255,255,122,0.57);
		color:black;
		padding:5px;
		}
		div.discreta {
		position: absolute;
		top: 150px;
		left:30%;
		width: 60%;
		text-align:left;
		background-color: rgba(255,255,122,0.57);
		color:black;
		padding:5px;
		}
		div.infodet2 {
		position: absolute;
		top: 60%;
		right:30%;
		width: 50%;
		text-align:right;
		background-color: rgba(122,255,255,0.37);
		color:black;
		padding:5px;
		}
	
	}
}



.ltie9 #navigation-show li {
	background: none;
}

#navigation-demo ul.nav {
	position: absolute;
	bottom: 10%;
	width: 100%;
	text-align: center;
}

#navigation-demo ul.nav li {
	display: inline-block;
	margin: 0 6px;
	background: #fff;
	height: 30px;
	line-height: 33px;
	cursor: pointer;
	.div_border(1em);
	border-radius: 1em;
	color: #fe4801;
	padding: 0 13px 0 13px;
}

.ltie8 #navigation-demo ul.nav li {
	display: inline;
}

/* @import "resto.less"; */
