.div_border (@width: 10px) {
	-webkit-border-radius: @width @width @width @width;
	-moz-border-radius:  @width @width @width @width;
	border-radius:  @width @width @width @width;
}
.paddingueo(@width: 2px, @height: 7px){
	padding: @width @height;  

}
.white_on_black(){
	color:white;
	background-color:black; 
}
.black_on_white(){
	color:blacK;
	background-color:white; 
}