<div class="detalle_gestion">
<h1><%= t('edit')+' '+t('foro') %></h1>
<br/>
<%= render 'form' %>

<div class="opciones_generales">
<ul>
		<%=render :partial=>"/shared/opcion_gestion", :locals=>{:mensaje=>t('show'), :path_volver=> @foro} %>         
		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>url_for(:back)} %>   
</ul>
</div>
</div>
