<%if !@equipos.nil?%>
	<% @equipos.each do |equipo| %>
 		<h2><%=link_to equipo.nombre,equipo_presentacion_path(:id=>equipo) %></h2>
 		<%if spanish%>
 			<p><%= equipo.descripcionEs%><p>
 		<%else%>
			 <p><%= equipo.descripcionFr%><p>
 		 <%end%>	
	<%end%>
<%end%>
