<h1><%=t('new')+' '+ t('parrafo')   %></h1>
<div class="opciones_generales formulario">
<%= render 'form' %>
	<ul  >
		<%=render :partial=>"/shared/opcion_gestion", :locals=>{:mensaje=>t('back'), :path_volver=>pagina_path(@parrafo.pagina)} %>         
	</ul>
</div>