<h1><%=t('edit')+' '+t('pagina') %></h1>
<br/>
<%= render 'form' %>

<% if current_user.tipo=='traductor'%>
<%= link_to t('back'),paginas_path(:modo=>'sintrad') %>
<%else%>
<%= link_to t('back'),seccion_path(@pagina.seccion) %>

<%end%>
