<%if spanish %>
	<li><%= comentario.tituloes%>&nbsp;&nbsp;<%= link_to t('responder') ,new_comentario_path(:id=>@foro,:responde=>@comentario) %></li>
<%else%>
	<li><%=comentario.titulofr%>&nbsp;&nbsp;<%= link_to t('responder') ,new_comentario_path(:id=>@foro,:responde=>comentario) %></li>
<%end%>
