<% @foros.each do |foro| %>
     <% if spanish %>
     	 <li><%= link_to foro.tituloes,femmes_foro_path(:id=>foro) %></li>
     <%else%>
    	 <li><%=link_to foro.titulofr,femmes_foro_path(:id=>foro)%></li>
    <%end%>
<%end%>
