<input type="hidden" id="path" value="femmes"/>
<input type="hidden" id="map_image" value="carte_peters"/>
 <div style="margin:0 auto;width:560px;margin-bottom:30px;margin-top:0px;">
<h2><%=t('lequipos')%></h2>
<%=t('equipos_femmes')%>
</div>
<div style="text-align:center">
<canvas id="foros_last" data-processing-sources="../p5s/last_jeunes.pde ../p5s/equipo_mini.pde ../p5s/log.pde ../p5s/servicio_load_equipos_mini_XML.pde"></canvas>  
</div>	
 	<hr class="space"/>
 	<hr class="space"/>
 	<hr class="space"/>
    <% content_for :menu_izq do%>

<div class="subpaginas">
	<hr class="space"/>

<ul style="list-style-type:none;">
	<% @equipos.each do |equipo| %>
	<li > <%=link_to equipo.nombre,equipe_sitio_path(:id=>equipo) %> </li>
<%end%>
</ul>
</div>
<%end%>
