/* CSS Document */
#menu, #menu ul {
	list-style:none;font-family:"Nunito";font-weight: 400;font-size:1.2em;
	/*
padding:0;
	margin:0;
*/
}
#menu ul.submenu{
	font-size:80%;
}
#menu li {
	float:left;
	position:relative;

	/*
line-height:4.5em;
	width:10em;
*/
}
#menu li ul {
	position:absolute;
	margin-top:-0.2em;
	margin-left:.5em; /* for IE */
	display:none;
	
}
#menu ul li ul {
	margin-top:-3em;
	margin-left:7em;
}
/* ******************************************************************* */
/* SHOW SUBMENU  1 */
#menu li:hover ul, #menu li.over ul {
	display:block;

}
#menu li:hover ul ul, #menu li.over ul ul {
	display:none;
}
/* SHOW SUBMENU  2 */
#menu ul li:hover ul, #menu ul li.over ul {
	display:block;
}
/* ******************************************************************* */
/* STYLING UP THE LINKS */

#menu  li a {

	display:block;

	
	
	color:white;

	text-decoration:none;
	

}

#menu li  a:hover {

	color:#fe4a00;
}
#menu li.seleccionado a:hover {

	color:black;
}

#menu ul a {

	display:block;

	
	background:black;
	color:white;

	text-decoration:none;
	

}

#menu ul a:hover {
background:#fe4a00;
	color:white;
}

#menu ul {

}

#menu ul a {
	
	background:black;
}

/* ******************************************************************* */

#menu {
	z-index:1;
}
#menu ul {
	z-index:2;
}
#menu ul ul {
	z-index:3;
}

/* ******************************************************************* */

/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; height: 1%; }
* html ul li a { height: 1%; }
/* End */
