/* ******************************************************************* */

#menu {
	z-index:1;
}
#menu ul {
	z-index:2;
}
#menu ul ul {
	z-index:3;
}

/* ******************************************************************* */

/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; height: 1%; }
* html ul li a { height: 1%; }
/* End */
