.button {
   border: none;
   background: #E5E5E5;
   padding: 5px 10px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   color: #7F7F7F;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
     margin-left: -10px;
    margin-right: 20px;
    padding: 5px;
   }
.button:hover {
   background: #FE4A00;
   color: #FFF;
   }
.button:active {
   background: #FE4A00;
   }
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}



/* CSS Document */
.menus, .menus ul {
	list-style:none;font-family:"Nunito";font-weight: 400;font-size:1.2em;
	 margin: 0 0.3em 0.2em 0;
    padding-left: 1.5em;
	/*
padding:0;
	margin:0;
*/
}
.menus ul.submenu{
	font-size:80%;
}
.menus li {
	float:left;
	position:relative;
	color:white;
	background-color:gray;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding:10px;
	 margin-left: -2.2em;
	 margin-top:10px;
	 width:100%;
	/*
line-height:4.5em;
	width:10em;
*/
}
.menus li ul {
	position:absolute;
	margin-top:-0.2em;
	margin-left:.5em; /* for IE */
	display:none;
	
}
.menus ul li ul {
	margin-top:-3em;
	margin-left:7em;
}
/* ******************************************************************* */
/* SHOW SUBMENU  1 */
.menus li:hover ul, .menus li:hover ul {
	display:block;

}
.menus li:hover ul ul, .menus li:hover ul ul {
	display:none;
}
/* SHOW SUBMENU  2 */
.menus ul li:hover ul, .menus ul li:hover ul {
	display:block;
}
/* ******************************************************************* */
/* STYLING UP THE LINKS */

.menus  li a {

	display:block;
	padding: 0px 0px;

	
	
	color:white;

	text-decoration:none;

}

.menus li  a:hover, focus {

	color:black;
	padding: 0px;
	margin:0px;
}
.menus li.seleccionado a:hover {

	color:black;
}

.menus ul a {

	display:block;

	
	color:white;

	text-decoration:none;
	

}

.menus ul a:hover {
background:#fe4a00;
	color:white;
}

.menus ul {

}

.menus ul a {
	
	/*background:black;*/
}

/* ******************************************************************* */

.menus {
	z-index:1;
}
.menus ul {
	z-index:2;
}
.menus ul ul {
	z-index:3;
}

/* ******************************************************************* */

/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; height: 1%; }
* html ul li a { height: 1%; }
/* End */

.menus li.seleccionado{
	background-color:#FE4A00;
}
.opciones_generales{
	margin-bottom:70px;
}
.opciones_generales ul{
		list-style: none outside none;display:block;

	
}
.opciones_generales li{
		-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	padding:5px;
	float:left; 
	margin-right:20px;
	margin-left:-10px;
	background-color:#E5E5E5;

}
.opciones_generales li.seleccionado{
	 background-color: #FE4A00;
}
.opciones_generales li:hover {
	background-color:#FE4A00;
	}
.opciones_generales li a{
	color:#7F7F7F;
	padding:2px;
}
.opciones_generales li a:link, a:hover, a:focus, a:visited, a:active{
}
.opciones_generales li  a:hover{
		color:white;
	}
	
.listado_registros{
	border: 1px solid #FE4A00;
    border-collapse: collapse;
	padding:3px;
	
}
.listado_registros thead th{
	color:#FE4A00;
	font-size:2em;

}
.listado_registros th{
	background-color:white;

	color:#4d4d4d;
	border-right: 1px dashed #66CCFF;
	border-top: 1px dashed #66CCFF;
}
.listado_registros tr{
	background-color:white;
}
.listado_registros td{
	border-bottom: 1px solid #FE4A00;
    border-top: 1px solid transparent;
	padding: 8px;
		border-right: 1px dashed #66CCFF;

}

.listado_registros_div{
	float:none;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:1px;
	width:100%;
}

.detalle_gestion{
		border: 1px solid #FE4A00;
		padding:20px;

}
