#idiomas ul li {  
		display: inline;  


}
#idiomas ul li a .seleccionado{

         	      opacity: 0.5;
          color:black;
                    background-color:white; /* Color de fondo */ ”
		 padding: 2px 7px; /*Separar el texto*/  
}
#idiomas ul li a, a:focus{
          color:white;
		 padding: 2px 7px; /*Separar el texto*/  
         margin:5px; /* Separar los botones */  	
         opacity: 0.1;
          background-color:black; /* Color de fondo */ ”
}
#idiomas ul li  a:hover {
		 padding: 2px 7px; /*Separar el texto*/  
         opacity: 0.5;
}


