#idiomas ul li {  
		display: inline;  


}
#idiomas ul li a.seleccionado, a:focus.seleccionado {
         	      opacity: 0.6;
          color:black;
                    background-color:white; /* Color de fondo */ ”
		 padding: 2px 7px; /*Separar el texto*/  
         margin:5px; /* Separar los botones */  	
}
#idiomas ul li a, a:focus{
          color:white;
		 padding: 2px 7px; /*Separar el texto*/  
         margin:5px; /* Separar los botones */  	
         opacity: 0.5;
          background-color:black; /* Color de fondo */ ”
}
#idiomas ul li  a:hover {
		 padding: 2px 7px; /*Separar el texto*/  
         opacity: 1;
         margin:5px; /* Separar los botones */  	
}
.subpaginas ul {
    font-size: 1.5em;
    margin-left: 31px;
    margin-top: -15px;
}

.subpaginas ul li a {
    color: gray;
    text-decoration: none;
}

.subpaginas ul li a:hover {
    color: black;
}

.subpaginas ul li {
    font-family: "Gloria Hallelujah";
    font-size: 1.1em;
    font-weight: 400;
}

.subpaginas ul li a.selected {
    text-decoration: underline;
    color: black;
    font-size: 1.3em;
}
.documentacion ul {
    font-size: 1.5em;
    margin-left: 0px;
    margin-top: -15px;
	list-style:square;
}

.documentacion ul li a {
    color: black;
    text-decoration: none;
}

.documentacion ul li a:hover {
    color: #fe4a00;
}

.documentacion ul li {
    font-family: "Lora","Walter Turncoat";
    font-size: 0.9em;
    font-weight: 400;
	font-style: italic;
}

.documentacion ul li a.selected {
    text-decoration: underline;
    color: black;
    font-size: 1.3em;
}

.opciones_generales{
	margin-bottom:70px;
}
.opciones_generales ul{
		list-style: none outside none;display:block;

	
}
.opciones_generales li{
		-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	padding:5px;
	float:left; 
	margin-right:20px;
	margin-left:-10px;
	background-color:#E5E5E5;

}
.opciones_generales li.seleccionado{
	 background-color: #FE4A00;
}
.opciones_generales li:hover {
	background-color:#FE4A00;
	}
.opciones_generales li a{
	color:#FFF;
	padding:2px;
}
.opciones_generales li a:link, a:hover, a:focus, a:visited, a:active{
}
.opciones_generales li  a:hover{
		color:white;
	}
