#idiomas ul li {  
		display: inline;  


}
#idiomas ul li a .seleccionado{

         	      opacity: 0.5;
          color:black;
                    background-color:white; /* Color de fondo */ ”
		 padding: 2px 7px; /*Separar el texto*/  
}
#idiomas ul li a, a:focus{
          color:white;
		 padding: 2px 7px; /*Separar el texto*/  
         margin:5px; /* Separar los botones */  	
         opacity: 0.1;
          background-color:black; /* Color de fondo */ ”
}
#idiomas ul li  a:hover {
		 padding: 2px 7px; /*Separar el texto*/  
         opacity: 0.5;
}
.subpaginas ul {
    font-size: 1.5em;
    margin-left: 31px;
    margin-top: -15px;
}
	.subpaginas ul li a{
		color:gray;
		text-decoration:none;

	}
	.subpaginas ul li a:hover{
		color:black;

	}
	.subpaginas ul li {
font-family: "Gloria Hallelujah";
font-size: 1.1em;
font-weight: 400;

}
	.subpaginas ul li a.selected{
text-decoration:underline;
		color:black;
		font-size: 1.3em;


}


