 <table class="listado_registros">
 	   <%= render :partial => "/shared/cabecera_tabla_gestion", 
		:locals =>{ :n_columns=>5,:title=>t('documentacion'), 
		:columns=>[t('tituloEs'), t('tituloFr'), t("show"), t('edit'), t('destroy')]} %>
   <%= render :partial => "paginas/pagina", :collection => @documentacion.paginas %>
</table>

  
  <div class="opciones_generales">
	<ul  >
		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>sitio_path(@sitio)} %>         
		<%=render :partial=>"/shared/opcion_gestion", 
		:locals=>{:mensaje=>t('new')+' '+t('pagina'), :path_volver=>new_pagina_path(:id=>@sitio,:tipo=>'documentacion')} %>  
	</ul>
</div>

