<p>
 <%= form_tag femmes_videos_path, :method => :get do %>
    <%=t('buscar')%>: 
 	<%= text_field_tag :search, params[:search] %>
    <%= submit_tag t "show", :name => nil %>

<% end %>
</p>                   
                 
