<div class="detalle_gestion">
<h1>Asociacion de la web</h1>
Id propietario <%= @asociacion.web %>
<br/>


<div class="opciones_generales">
	<ul  >
		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>admin_path} %>   

		<%=render :partial=>"/shared/opcion_gestion", :locals=>{:mensaje=>'Sitio de la asociacion', :path_volver=> sitio_path(@asociacion.sitio)} %>         
	</ul>
</div>

</div>	
