<div class="detalle_gestion">
<h1><%=t('new')+' '+t('presentacion')%></h1>

<%= render 'form' %>
<div class="opciones_generales">
	<ul  >
		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>paginas_path} %>   
</ul>
</div>
</div>