<% if !equipo.nil?%>
 <tr>
  <td><%= equipo.nombre %></td>
  <td><%= equipo.descripcionEs %></td>
  <td><%= equipo.descripcionFr.force_encoding('UTF-8') %></td>
  <td><%= link_to t('edit'), edit_equipo_path(equipo)%></td> 
 </tr>
<%end%>
