<div class="ficha">



	<%if !@aportan.nil?%>
		<% @aportan.sort{|a,b| a.position <=> b.position}.each do |colaborador| %>
			<%=render "/shared/ficha_colaborador",  :colaborador=>colaborador %>
		<%end%>
	<%end%>
	<%if !@noaportan.nil?%>
		<% @noaportan.sort{|a,b| a.position <=> b.position}.each do |colaboradorno| %>
			<%=render "/shared/ficha_colaborador",  :colaborador=>colaborador %>
		<%end%>
	<%end%>
	</div>
