<h2>Bienvenido a quartiers</h2>
<p>Los enlaces del menu de la izquierda deben recoger correctamente los datos, y mostrarlos de manera similar a
los que se muestran en la asociacion con cierto formato<p>
<p>Cierto formato implica controlar el local seleccionado. Eliminar titulos ,.. <p>
<p>Para cada elemento, por ejemplo la presentacion. => se manda a un controlador que carga los datos correspondientes y los muestra aqui, siempre dentro de quartiers_controller<p>
