<li><%= link_to equipo.nombre, equipo_path(equipo)%> <%= link_to t('edit'), edit_equipo_path(equipo)  %>   
 <td><%= link_to t('destroy'), [equipo], :confirm => t('confirm'), :method => :delete %></td></li>

