<div class='colaborador'>
			<div class="nombre"><%=colaborador.send(:nombre.to_s+locale.to_s.capitalize)%></div>
			<div class="url"><%=colaborador.url%></div>		
				<div class="descripcion"><%=colaborador.method(:info.to_s+local.capitalize).call%></div>		
				<% if colaborador.imagen_url.to_s != "" %>
				<%= image_tag colaborador.imagen_url.to_s %>
			<%  end %>
</div>
