<h1 ><%=t('noaportan')%></h1>
<div class="ficha">
<% if !@noaportan.nil?%>
		<% @noaportan.each do |colaborador| %>

			<%=render "/shared/ficha_colaborador",  :colaborador=>colaborador %>
		
		<%end%>
	
	<%end%>
</div>

<hr class="space"><hr class="space"><hr class="space">
<h1><%=t('aportan')%></h1>
<div class="ficha ">
<% if !@aportan.nil?%>
		<% @aportan.each do |colaborador| %>
			<%=render "/shared/ficha_colaborador",  :colaborador=>colaborador %>
		<%end%>
<%end%>
</div>


	
