<h1><%=t('aportan')%></h1>
<div class="ficha ">
<% if !@aportan.nil?%>
		<% @aportan.each do |colaborador| %>
			<%=render "/shared/ficha_colaborador",  :colaborador=>colaborador %>
		<%end%>
<%end%>
</div>

			<%=render "menu_protagonistas_colaborador" %>


