<%= render :partial => "/shared/titulo", :object => "Présentation" %>

                    <div class="titulo ">
						<span >
                       eeee Présentation
						<span>
                    </div>
                    <div class="ficha ">
						<div class="modulo_ficha">
	                        
	                        <div class="titulo  ">
								<span>
                            Encourager une gouvernance participative et une citoyenneté affirmée au Sud et au Nord
								</span>	
                            	<br>
                        	</div>
                        
			<div class="texto ">
				<a href="imgs/ej04zoom.jpg" class="lightbox" title="Encourager une gouvernance participative et une citoyenneté affirmée au Sud et au Nord">
                        <img src="imgs/ej04mini.jpg"  class="image left " >
</a>
                        Pour cela, Quartiers du Monde contribue à la construction d'espaces de dialogue et de réflexion avec la population et les autorités locales de différents quartiers pour chercher ensemble des alternatives de changement.
			</div> <!-- modulo ficha-->
                        <br>
			</div><!-- ficha -->
                        <div style="clear: both;" />

<div class="modulo_ficha">
                        <div class="titulo ">
                           				<span> Que fait-on ?</span>
                        </div>
<div class="texto ">
<a href="imgs/ej03zoom.jpg" class="lightbox" title="Que fait-on ?">
                        <img src="imgs/ej03mini.jpg" alt="mini_imagen_ejemplo2.jpg" class="image left" >
</a>
<ul >
<li>
Animer un réseau Nord-Sud 
</li>
<li>
Proposer des formations méthodologiques 
</li>
<li>
Réaliser le suivi et l’évaluation de projets sociaux  
</li>
<li>
Faciliter la réflexion de groupes d’habitants pour construire la participation dans leur quartier 
</li>
                          
                        
                        
</ul>
</div>
</div>
                        <div style="clear: both;"></div>
<div class="modulo_ficha">
                            <div class="titulo ">
                               <span> Documentation</span>
                            </div>
                            <div class="documentacion seleccionado">
                                <ul>
                                    <li class="pdf">
                                        Rapport des activités de l'association en 2005
                                    </li>
                                    <li class="txt">
                                        Rapport des activités de l'association en 2006
                                    </li>
                                    <li class="doc">
                                        Rapport des activités de l'association en 2007
                                    </li>
                                    <li class="mov">
                                        Rapport des activités de l'association en 2008
                                    </li>
                                    <li class="rtf">
                                        Rapport des activités de l'association en 2009
                                    </li>
                                </ul>
                            </div>
                        </div>
</div>
